.contenedor-redes{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    max-height: 150px;
    height: 150px;
}
.contenedor-redireccion{
    padding-top: 10px;
    font-weight: bold; 
    color: white;
}